.App {
  
   background-color: darkseagreen;
    
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
   
}

.App-header {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  display:flex; 
  flex-direction:row;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.canvi{
   
}
svg {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  display: block;
  
}
div {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  display: block;
  float: left;
  align-content: center;
}
canvas {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  display: block;
  float: left;
  align-content: center;
}